@import "tailwindcss";

@theme {
  --color-accent: #ecad0a;
  --color-primary: #209dd7;
  --color-secondary: #753991;
  --color-navy: #032147;
  --color-muted: #888888;
}

@theme inline {
  --font-sans: var(--font-inter);
}
